:root {
  --website-background-color: #f1f1f1;
  --text-color: #1f1f1f;
  --text-color-light: #f1f1f1;
  --link-primary-color: #ef233c;
  --link-primary-color-hover: #be2437;
  --button-primary-color: #ef233c;
  --button-primary-color-hover: #be2437;
  --button-secondary-color: #ef233c;
  --button-secondary-color-hover: #be2437;
  --button-text-color: #f1f1f1;
}

/** HTML5 Elemente **/

html,
body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background-color: var(--website-background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

p {
  font-weight: normal;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: var(--link-primary-color);
}

a:hover {
  color: var(--link-primary-color-hover) !important;
}

a:visited {
  color: var(--link-primary-color);
}

h1 {
  font-size: 100px;
  font-weight: bold;
}

h2 {
  font-size: 50px;
  font-weight: bold;
}

.a-button {
  background-color: var(--button-primary-color);
  border-radius: 25px;
  color: var(--text-color-light) !important;
  padding: 1.5%;
}

.a-button:hover {
  background-color: var(--button-primary-color-hover);
  color: var(--text-color-light) !important;
}

.shadow {
  filter: drop-shadow(rgba(0, 0, 0, 0.4) 5px 5px 5px);
}

.navbar {
  max-height: 5vh;
  text-align: center;
}

.welcome-section {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-main {
  min-height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-footer {
  max-height: 15vh;
  text-align: center;
}

.welcome-header {
  margin: 0px;
  font-size: 100px;
}

.welcome-subheader {
  font-size: 20px;
  font-weight: normal;
}

.more-section {
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.more-textbox {
  text-align: center;
  width: 33%;
  padding: 0;
}

.more-imagebox {
  text-align: center;
  padding: 0;
  width: 33%;
}

.img-self {
  border: 5px solid var(--text-color);
  border-radius: 25px;
  width: 350px;
  height: 350px;
}

.skill-section {
  min-height: 50vh;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.img-skills {
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.contact-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.form-input {
  box-sizing: border-box;
  background-color: var(--text-color-light);
  border-radius: 30px;
  border: var(--text-color) solid 1px;
  margin: 10px;
  padding: 1%;
  font-family: "Inter";
}

.form-textarea {
  padding: 2%;
}

/** Responsive Design **/

@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 35px;
  }

  .a-button {
    padding: 1%;
  }

  .more-section {
    flex-direction: column;
  }

  .more-textbox, .more-imagebox {
    width: 90%;
    text-align: center;
  }

  .img-skills {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .skill-box {
    flex-direction: column;
  }

  .contact-form {
    width: 90%;
  }

  .form-input {
    width: 100%;
    padding: 2%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 25px;
  }

  .welcome-header {
    font-size: 55px
  }

  .welcome-subheader {
    font-size: 15px
  }

  h2 {
    font-size: 18px;
  }

  .a-button {
    padding: 2%;
  }

  .more-section {
    flex-direction: column;
    padding: 10px;
    min-height: 100vh
  }

  .skill-section {
    min-height: 100vh;
  }

  .more-textbox {
    width: 80%;
  }

  .img-self {
    width: 250px;
    height: 250px;
  }

  .img-skills {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact-section {
    padding: 20px;
  }

  .form-input {
    width: 50%;
    padding: 5%;
  }

  .form-textarea {
    width: 100%;
    padding: 5%;
  }

}